@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --primary-color: #955df4;
    --secondary-color: #ff816c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 90%;
    margin: 2rem auto;
    padding-bottom: 2rem;
    -webkit-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
}

header {
    width: 100%;
    background: var(--primary-color);
    padding: 1rem;
}

header h3 {
    color: #fff;
    margin-left: 1.5rem;
}

.table-users {
    width: 80%;
    margin: 2rem auto;
    border-collapse: collapse;
}

.table-users th,
.table-users td {
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .5rem;
}

.table-users th {
    background: #fafafa;
    padding: 1rem auto;
}

.btn {
    background: transparent;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
}


/* *******************************************delete */

.btn-delete {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-delete:hover {
    background: var(--secondary-color);
    color: #fff;
}


/* ************************************************** */

.table-wrapper {
    text-align: center;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

#videoInput {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    #videoInput {
        display: none;
        position: fixed;
    }
}


/**************************************************** Loder */

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.loader>body {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }
    30% {
        background-color: #66bf39
    }
    60% {
        background-color: #eb670f
    }
    90% {
        background-color: #f35
    }
    100% {
        background-color: #864cbf
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 60px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    /* margin: 8px; */
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* *********************************************** */


/*** login pass **/

* {
    padding: 0;
    margin: 0;
}

.animation-area {
    background: linear-gradient(to left, #5942a8, #ba382f);
    width: 100%;
    height: 100vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-direction: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(5) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

form {
    text-align: center;
}

.input-box {
    font-size: 18px;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    background: rgba(236, 202, 202, 0.5);
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid black;
}

.input-wrappar {
    width: 350px;
    height: 300px;
    z-index: 10;
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(168, 168, 168);
}

#icon {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.input {
    margin-top: 50px;
}

.btn {
    padding: 7px 40px;
    border-radius: 10px;
    outline: none;
    border: 2px solid;
}

.btn a {
    text-decoration: none;
}

.placeholder {
    color: #333;
}